body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* header */
.nav-bar {
  height: 70px;
  background: #cecece;
}

/* header-left */
.logo {
  margin: 10px 70px;
  display: inline-block;
  font-size: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: calc(100% - 80%);
}

.logo a {
  text-decoration: none;
  color: #000;
}
/* end-header-left */

/* header right */
.btn-logout {
  float: right;
  list-style: none;
  margin: 15px 50px;
}

.btn-logout li {
  display: inline-block;
  margin: 5px 10px;
}

.btn-logout li a {
  text-decoration: none;
  color: #fff;
  background: #000;
  font-size: 18px;
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #000;
}

.btn-logout li a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s;
}
/* end-header-right */
/* end-header */

/* container */
.container {
  width: 100%;
  min-height: calc(100vh - 70px);
  clear: both;
}

/* sidebar */
.sidebar {
  width: calc(100% - 80%);
  min-height: calc(100vh - 70px);
  background: #eee;
  float: left;
  box-sizing: border-box;
}

.menu {
  list-style: none;
  margin-top: 50px;
  margin-left: 50px;
  padding: 0;
}

.menu li {
  display: block;
  margin: 30px 0;
}

.menu li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 16px;
}

.menu .fas {
  font-size: 20px;
  margin-right: 10px;
}

.menu .fa-table {
  font-size: 18px;
}

.menu li a:hover {
  color: #0000ff;
  transition: 0.5s;
}
/* end-sidebar */

/* content */
.content {
  float: left;
  margin: 10px 30px;
  width: calc(100% - 25%);
}

.admin-page h1 {
  margin: 30px 0 10px;
  padding: 0;
}

/* add-button */
.add {
  margin-bottom: 20px;
}

.btn-add {
  text-decoration: none;
  background: #1900ff;
  color: #fff;
  display: block;
  padding: 10px 10px;
  width: 60px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.btn-add .fas {
  font-size: 14px;
  margin: 0 5px;
}

.btn-add:hover {
  background: #1100aa;
  transition: 0.5s;
}
/* end-add-button */

/* table */
.table-data {
  max-width: 100%;
}

.table {
  min-width: 50%;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
  border: 1px solid #000;
}

.table tr th {
  background: #454e4a;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 50px;
}

.table tr td {
  box-sizing: border-box;
  padding: 20px 50px;
}

.table tr:nth-child(odd) {
  background: #f5f5f5;
}

.table tr td:nth-child(4) {
  text-align: center;
}

.table tr td img {
  width: 100px;
  height: 100px;
}

.btn-edit,
.btn-delete {
  font-size: 22px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  width: 45px;
  text-align: center;
  cursor: pointer;
}

.btn-edit {
  margin-right: 5px;
  background: #10a51d;
}

.btn-delete {
  background: #b12020;
}

.btn-edit:hover {
  background: #096911;
  transition: 0.5s;
}

.btn-delete:hover {
  background: #7e0f0f;
  transition: 0.5s;
}
/* end-table */
/* end-content */

/* add */
/* .input-page {
} */

.form-input {
  font-family: "Roboto", sans-serif;
}

.form-name {
  width: 150px;
}

.form-colon {
  width: 10px;
}

.form-input .form-content {
  display: block;
  margin: 0 0 10px;
}

.form-content input {
  width: 235px;
  padding: 15px;
  box-sizing: border-box;
}

.form-input textarea {
  padding: 15px;
  width: 200px;
  height: 80px;
}

.form-input input,
textarea {
  font-family: "Roboto", sans-serif;
  border: 2px solid #000;
}

.form-input input:hover,
textarea:hover {
  cursor: pointer;
  box-shadow: 5px 5px #ccc;
}

.form-input .btn {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.form-input .btn-primary {
  margin-left: 172px;
  margin-right: 10px;
}

.form-input .btn-primary:hover,
.btn-danger:hover {
  box-shadow: 5px 5px #ccc;
}

.form-input .btn-primary:hover {
  background: #4983ff;
  color: white;
}

.form-input .btn-danger:hover {
  background: #fc4b4b;
  color: #fff;
}

/* end-add */

/* login */
.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form-login {
  position: relative;
  z-index: 1;
  background: rgba(199, 199, 199, 0.8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #000;
}

.form-login:hover {
  box-shadow: 0 0 20px #000;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.form-login h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form-login input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.form-login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0f0db1;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.form-login button:hover,
button:active {
  background: #080683;
}
/* end-login */
